<template>
  <div class="border">
      <h1>Check out our Products!</h1>
      <button class="productButton" v-on:click="getProductData">Get the products</button>
      <div class="body">
      <div class="">
      <div v-for="product in productList" :key="product.ProductID" class="project-data"> 
      
          <div class="product-icon" @click="sendItem(product)">
              <img :src="product.PhotoName">
        </div>
       
      </div>
      </div>
 <div class="rightContainer" v-if="itemname">
            <img :src="manufacturerid" class="logo">
            <img :src="image" class="selected">
          
            <span>Item Name: {{itemname}}</span>

            <span>Item ID: {{itemID}}</span>
            
            <span>Description: {{description}}</span>
            
            <span>Dimensions: {{dimensions}}</span>
        
          
            <span>Base Price: ${{baseprice}}</span>
            <br>
              <span>Contact Information</span>
            <span>{{SalesRep.FirstName}} {{SalesRep.LastName}}</span>
            <span>{{SalesRep.CompanyName}}</span>
            <span>{{SalesRep.EmailAddress}}</span>
            <span>{{SalesRep.CellPhone}}</span>
            <span>{{SalesRep.City}} {{SalesRep.State}} {{SalesRep.PostalCode}}</span>
        </div>
         </div>   
  </div>

</template>

<script>

export default {
name: 'Products',
data() {
    return {
        productList: [],
        dimensions: '',
    baseprice: 0,
    itemname: '',
    description: '',
    image: '',
    manufacturerid: 0,
    itemID: 0,
    SalesRep: []
    }
},
methods: {
    getProductData() {
        fetch("test.json")
          .then(response => response.json())
            .then(data => (this.productList = data.items, this.SalesRep = data.SalesRep));
    },
    sendItem(item) {
       this.dimensions = item.Dimensions,
       this.baseprice = item.BasePrice,
       this.itemname = item.ItemName,
       this.description = item.Description,
       this.image = item.PhotoName,
       this.itemID = item.ItemID
       this.manufacturerid = "http://images.repzio.com/productimages/" + item.ManufacturerID + "/logo" + item.ManufacturerID + "_lg.jpg";
    }
}


};
</script>

<style scoped>
div{
    background: white;
}
.border{
    display:flex;
      border:5px solid lightslategray;
      flex-direction: column !important;
      height:100%;
}
.product-data {
  display: flex;
  flex-direction: column !important;
  align-items: center;
  border-bottom: 2px solid #ccc;

}
.body {
    display: flex;
    flex-direction:row;
}
div.salesRep {
    margin-top:20px;
}

.product-icon {
    margin:10px;
    display: flex;
  flex-grow: 1;
}

.product-stats {
  flex-grow: 8;
  text-align: left;
  padding-left: 20px;
}

.product-stats .location {
  font-size: 30px;
}

.product-temp {
  flex-grow: 1;
  font-size: 35px;
}

img {

  width: 70px;
}
img.selected {
    height: 50%;
    width:50%;
    align-self: center;
}
img.logo {
    height: 25%;
    width:25%;
    align-self: center;
}
.productButton {
    width:fit-content;
    align-self: center;
}

button {
    padding:10px;
    background-color: #1aa832;
    color: white;
    border: 1px solid #ccc;
}
.rightContainer{
    min-width:89vw;
    padding:10px;
    justify-content: center;
    border: 5px solid lightgray;
    margin:10px;
   display:flex;
   flex-direction: column;
}

</style>