<template class="background">
  <div id="app">

    <Products />
  </div>
</template>

<script>
//import CodeTest from './components/codetest'
import Products from './components/Products'

export default {
  name: 'app',
  components: {
    Products,
    
  }
}
</script>

<style>
.background {
  background:lightgray;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  background:lightgray;
}
</style>
